body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: seagreen;
    color: white;
}

#board {
    background-color:lightskyblue;
    border-bottom: 5px solid black;
}